Repository kadioko/MkulimaLink: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Fix Vercel configuration for monorepo with legacy peer deps
  vercel.json
Due: none

Fix build script to install frontend dependencies with legacy-peer-deps
  package.json
Due: none

Move react-scripts to dependencies - critical fix for Vercel build
  frontend/package.json
Due: none

Add package-lock.json for reproducible builds
  frontend/package-lock.json
Due: none

fix: add missing react-query dependency
  frontend/package-lock.json
  frontend/package.json
Due: none

fix: remove unused imports to satisfy CI
  frontend/src/pages/Market.js
  frontend/src/pages/Profile.js
Due: prettier --write

docs: add deployment completion summary
  DEPLOYMENT_COMPLETE.md
Due: none

docs: add backend integration guide
  BACKEND_INTEGRATION_GUIDE.md
Due: none

fix: create simplified server for Heroku deployment
  backend/server-simple.js
  package.json
Due: eslint --fix, prettier --write

fix: add Procfile and minimal server without external dependencies
  Procfile
  backend/server-minimal.js
  package.json
Due: eslint --fix, prettier --write

fix: remove frontend build requirement from server
  backend/server-minimal.js
Due: eslint --fix, prettier --write

cleanup: remove deleted files
  BACKEND_INTEGRATION_GUIDE.md
  backend/api/health.js
Due: eslint --fix, prettier --write

docs: add MongoDB Atlas setup guide with real data
  MONGODB_SETUP.md
Due: none

docs: add comprehensive launch checklist
  LAUNCH_CHECKLIST.md
Due: none

feat: add standalone data seeding script for MongoDB
  seedData.js
Due: none

feat: deploy real data server with 19 products, 8 market prices, 6 weather locations
  Procfile
  index-final.js
  package.json
Due: none

docs: add final deployment status and next steps
  FINAL_DEPLOYMENT_STATUS.md
Due: none

docs: add comprehensive testing, deployment, mobile setup, and user documentation
  ADDITIONAL_FEATURES_PLAN.md
  MOBILE_APP_SETUP.md
  TESTING_GUIDE.md
  USER_DOCUMENTATION.md
Due: none

docs: add complete project summary - production ready status
  COMPLETE_PROJECT_SUMMARY.md
Due: none

fix: resolve Products page error by matching actual backend data structure
  frontend/src/pages/Products.js
Due: prettier --write

docs: update Vercel environment variable setup with correct backend URL
  VERCEL_ENV_SETUP.md
Due: none

fix: add CORS support to backend API
  index-final.js
Due: none

docs: add Heroku deployment instructions for CORS fix
  HEROKU_DEPLOY.md
Due: none

fix: correct API endpoint paths to include /api prefix
  frontend/src/pages/Market.js
  frontend/src/pages/Products.js
  frontend/src/pages/Weather.js
Due: prettier --write

fix: add defensive rendering to prevent crashes from malformed data
  frontend/src/pages/Market.js
  frontend/src/pages/Products.js
  frontend/src/pages/Weather.js
Due: prettier --write

docs: add comprehensive frontend fixes summary with troubleshooting guide
  FRONTEND_FIXES_SUMMARY.md
Due: none

fix: remove unused page variable to fix build error
  frontend/src/pages/Products.js
Due: prettier --write

Fix Vercel config for frontend
  vercel.json
Due: none

feat: add Tanzania + Kenya dual country support
  frontend/public/index.html
  frontend/src/components/Layout.js
  frontend/src/components/SEOHead.js
  frontend/src/pages/Home.js
  frontend/src/pages/Market.js
  frontend/src/pages/Products.js
  frontend/src/pages/Weather.js
  frontend/src/store/countryStore.js
  index-final.js
Due: prettier --write

fix: auth, currency consistency, and country-aware forms
  frontend/src/App.js
  frontend/src/pages/AddProduct.js
  frontend/src/pages/Dashboard.js
  frontend/src/pages/Login.js
  frontend/src/pages/ProductDetail.js
  frontend/src/pages/Products.js
  frontend/src/pages/Register.js
  index-final.js
  package-lock.json
  package.json
Due: prettier --write

fix: mobile app - install deps, tsconfig, missing screens, API URLs
  mobile/MkulimaLink/package-lock.json
  mobile/MkulimaLink/package.json
  mobile/MkulimaLink/src/App.tsx
  mobile/MkulimaLink/src/screens/main/ProductsScreen.tsx
  mobile/MkulimaLink/src/screens/products/AddProductScreen.tsx
  mobile/MkulimaLink/src/screens/transactions/TransactionDetailScreen.tsx
  mobile/MkulimaLink/src/services/api.ts
  mobile/MkulimaLink/src/stores/authStore.ts
  mobile/MkulimaLink/tsconfig.json
Due: none

fix: remove invalid rootDirectory from vercel.json
  vercel.json
Due: none

fix: weather data, market prices, trend icons, Premium nav + dual currency
  frontend/src/components/Layout.js
  frontend/src/pages/Market.js
  frontend/src/pages/Premium.js
  frontend/src/pages/Weather.js
  index-final.js
Due: prettier --write

feat: demo accounts + test premium activation
  frontend/src/pages/Login.js
  frontend/src/pages/Premium.js
  index-final.js
Due: prettier --write

Update market prices, product images, and premium dashboard access
  backend/routes/auth.js
  backend/routes/weather.js
  frontend/src/components/Layout.js
  frontend/src/pages/Dashboard.js
  frontend/src/pages/Products.js
  frontend/src/utils/demoData.js
Due: eslint --fix, prettier --write

Add fallbacks to demo data for market and weather if API fails
  frontend/src/pages/Market.js
  frontend/src/pages/Weather.js
Due: prettier --write

Fix dashboard nav visibility and add free tools section
  frontend/src/components/Layout.js
  frontend/src/pages/Dashboard.js
Due: prettier --write

Add seed endpoint, fix market root route, register seed in server
  backend/routes/market.js
  backend/routes/seed.js
  backend/server.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: backend/**/*.js
  prettier --write: (any of: backend/**/*.js) or (any of: frontend/src/**/*.{js,jsx})
