Repository kadioko/MkulimaLink: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "backend/**/*.js": [
    "eslint --fix",
    "prettier --write"
  ],
  "frontend/src/**/*.{js,jsx}": [
    "prettier --write"
  ]
}

Fix CORS to allow all Vercel deployments, add market root route, seed endpoint
  backend/server.js
Due: eslint --fix, prettier --write

Fix CORS in index-final.js to allow all Vercel preview deployments
  index-final.js
Due: none

Update weather to use live Open-Meteo API, improve navbar design, add dynamic footer year, and expand free farming tools
  frontend/src/components/Layout.js
  frontend/src/pages/Dashboard.js
  frontend/src/pages/Weather.js
Due: prettier --write

Elevate navbar design with active states and implement free farming tools pages
  frontend/src/App.js
  frontend/src/components/Layout.js
  frontend/src/pages/CropYieldCalculator.js
  frontend/src/pages/Dashboard.js
  frontend/src/pages/PestAndDiseaseGuide.js
  frontend/src/pages/SoilHealthTips.js
Due: prettier --write

Update README with new features, add auction/wishlist/exchange routes, enhance cron jobs and socket handlers
  PROJECT_STATUS.md
  README.md
  backend/models/Auction.js
  backend/models/ExchangeRate.js
  backend/models/PriceHistory.js
  backend/models/Wishlist.js
  backend/routes/auctions.js
  backend/routes/exchangeRates.js
  backend/routes/wishlist.js
  backend/server.js
  backend/utils/cronJobs.js
  backend/utils/socket.js
  backend/utils/socketHandlers.js
  frontend/src/components/__tests__/useDebounce.test.js
  frontend/src/hooks/useMultiCurrency.js
Due: eslint --fix, prettier --write

Add AI product recommendations endpoint with wishlist/purchase analysis, sync wishlist store with server API
  backend/routes/ai.js
  frontend/.env.example
  frontend/src/store/wishlistStore.js
Due: eslint --fix, prettier --write

Update index.html with enhanced SEO meta tags, SVG favicon, and improved branding
  frontend/public/favicon.svg
  frontend/public/index.html
  frontend/public/logo-dark.svg
  frontend/public/logo.svg
  frontend/public/manifest.json
  frontend/src/components/Logo.js
Due: prettier --write

Remove API documentation and changelog files
  docs/API_DOCUMENTATION.md
  docs/CHANGELOG.md
  docs/CONTRIBUTING.md
  docs/DEPLOYMENT.md
  docs/PROJECT_STATUS.md
  frontend/src/pages/Login.js
  index-mongodb.js
  index.js
  seedData.js
Due: prettier --write

Polish marketplace and home UI
  frontend/src/components/EnhancedProductCard.js
  frontend/src/components/Layout.js
  frontend/src/pages/Home.js
  frontend/src/pages/Products.js
  frontend/src/utils/demoData.js
Due: prettier --write

feat: Livestock Management module + full system audit (v2.1)
  README.md
  backend/middleware/auth.js
  backend/models/BreedsLibrary.js
  backend/models/FarmWorkspace.js
  backend/models/Livestock.js
  backend/models/LivestockEvent.js
  backend/models/LivestockInventory.js
  backend/models/Reproduction.js
  backend/routes/livestock.js
  backend/server.js
  docs/CHANGELOG.md
  docs/PROJECT_STATUS.md
  frontend/src/App.js
  frontend/src/components/Layout.js
  frontend/src/pages/Dashboard.js
  frontend/src/pages/Home.js
  frontend/src/pages/Livestock/AnimalProfile.js
  frontend/src/pages/Livestock/BreedsLibrary.js
  frontend/src/pages/Livestock/FarmWorkspace.js
  frontend/src/pages/Livestock/LivestockCalendar.js
  frontend/src/pages/Livestock/LivestockDashboard.js
  frontend/src/pages/Livestock/LivestockInventory.js
  frontend/src/pages/Livestock/ReproductionTracker.js
  package.json
Due: eslint --fix, prettier --write

feat: Full Admin Panel backend API + complete dashboard UI
  backend/models/User.js
  backend/routes/admin.js
  backend/routes/auth.js
  backend/server.js
  frontend/src/components/Layout.js
  frontend/src/pages/AdminDashboard.js
Due: eslint --fix, prettier --write

fix: remove react-leaflet import that broke Vite/Rollup build
  frontend/src/pages/Analytics/AnalyticsDashboard.jsx
Due: prettier --write

fix: force Vite JSX transform for .jsx files
  frontend/vite.config.js
Due: none

feat: add complete My Account profile center
  frontend/src/components/Layout.js
  frontend/src/pages/Profile.js
Due: prettier --write

feat: expand demo seed data across account, marketplace, and livestock
  backend/routes/seed.js
Due: eslint --fix, prettier --write

feat: improve product filters and AI recommendations
  backend/routes/ai.js
  backend/server.js
  frontend/src/pages/AI/AIDashboard.jsx
  frontend/src/pages/Products.js
Due: eslint --fix, prettier --write
